#include <windows.h>
#include "mbrres.h"


IDD_MAINDIALOG DIALOG 139, 29, 87, 63
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "лап"
FONT 8, "Helv"
BEGIN
    PUSHBUTTON      "START", ID_START_BUT, 8, 41, 32, 14
    PUSHBUTTON      "STOP", ID_STOP_BUT, 44, 41, 30, 14
    LTEXT           "Minutes", ID_START_BUT, 8, 16, 27, 12
    LTEXT           "Hours", ID_STOP_BUT, 7, 27, 20, 12
    EDITTEXT        ID_MIN_EDIT, 35, 10, 32, 12, ES_AUTOHSCROLL
    EDITTEXT        ID_HOUR_EDIT, 35, 24, 32, 12, ES_AUTOHSCROLL
    SCROLLBAR       ID_MIN_UPDOWN, 69, 10, 9, 12, SBS_VERT
    SCROLLBAR       ID_HOUR_UPDOWN, 69, 24, 9, 12, SBS_VERT
END
